<div class="wrapper">
    <div class="sidebar" data-active-color="black" data-background-color="white" >
        <div class="logo">
            <small href="#" class="app-title">
                Simple Protocol Recorder
            </small>
        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">
                SRP 1.0
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="#!/settings">
                        <i class="material-icons">face</i>
                        <p>Profile</p>
                    </a>
                </li>
                <li>
                </li>
            </ul>
      </div>
  <div class="sidebar-background"></div></div>
    <div class="main-panel">

        <nav class="navbar navbar-transparent navbar-absolute" style="background:#00BCD4;border-radius:0;box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                        <i class="material-icons visible-on-sidebar-regular"  ng-click="_ctrl.createProtocol()" ng-show="_ctrl.states == 'list'">add</i>
                        <i class="material-icons visible-on-sidebar-regular"   ng-click="_ctrl.cancelProtocol()" ng-show="_ctrl.states == 'edit'">view_list</i>
                    </button>
                </div>
                <div class="navbar-header  hidden-sm hidden-md  hidden-xs">
                    <button type="button" class="navbar-toggle hidden-sm hidden-md  hidden-xs" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span style="font-size:14.5px;color:#fff" class="navbar-brand" ng-click="_ctrl.createProtocol()" ng-show="_ctrl.states == 'list'"> New Protocol </span>
                    <span style="font-size:14.5px;color:#fff" class="navbar-brand" ng-click="_ctrl.cancelProtocol()" ng-show="_ctrl.states == 'edit'"> List Protocol </span>
                </div>
                <div class="collapse navbar-collapse hidden-sm hidden-xs hidden-md">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#!/unlock" class="dropdown-toggle" data-toggle="dropdown" style="border:1px solid #ccc">
                                <i class="material-icons hidden-sm hidden-xs">fingerprint</i>
                            </a>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                    <form  class="navbar-form  navbar-right" role="search">
                        <div class="form-group form-search form-white">
                            <input class="form-control" placeholder="Search" type="text" name="customerName" ng-model="_ctrl.filterText">
                            <span class="material-input"></span>
                        <span class="material-input"></span></div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon" ng-click="_ctrl.filter()">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                      <div class="card card-radius">
                          <div  ng-hide="_ctrl.sze<1" class="card-header card-header-text" data-background-color="white" style="background:#fafafa;border-radius:0;box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.42), 0 1px 1px 0px rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.2);">
                              <h4 class="card-title card-t" >Protocol Notes</h4>
                          </div>

                          <form   class="form-horizontal form-white"  ng-show="_ctrl.states == 'edit'">
                          </br></br>
                          <div class="col-lg-1 col-md-1">
                          </div>
                          <div class="col-lg-10 col-md-10">
                              <div class="card-content  card-protocol">
                                  <div class="row">
                                      <label class="col-sm-2 label-on-right"></label>
                                      <label class="col-sm-2 label-on-right protocol-label">Title</label>
                                      <div class="col-sm-6">
                                          <div class="form-group form-group-sm label-floating form-orange">
                                              <label class="control-label"></label>
                                              <input class="form-control "  required="true"  aria-required="true" ng-model="_ctrl.selected.name" type="text">
                                          <span class="material-input"></span></div>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <label class="col-sm-2 label-on-right"></label>
                                      <label class="col-sm-2 label-on-right protocol-label">Date & Time</label>
                                      <div class="col-sm-6">
                                          <div class="form-group form-group-sm form-orange">
                                              <input type="text" class="form-control datetimepicker" mdc-datetime-picker="" date="true" time="true"   required="true"  ng-model="_ctrl.selected.date" show-todays-date="true" value="date" min-date="date"   readonly="readonly" aria-invalid="false"  />
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <label class="col-sm-2 label-on-right"></label>
                                      <label class="col-sm-2 label-on-right protocol-label">Patient Name</label>
                                      <div class="col-sm-6">
                                          <div class="form-group form-group-sm label-floating form-orange">
                                              <label class="control-label"></label>
                                              <input class="form-control"   required="true"  ng-model="_ctrl.selected.patient" type="text" ng-change="_ctrl.filterPatient()">
                                          <span class="material-input"></span></div>
                                          <div class="selectpicker auto-select" ng-show="_ctrl.patients.length > 0">
                                              <ul class="" style="list-style:none">
                                              <li  class="autocomplete-li" ng-repeat="dt in _ctrl.patients" ng-click="_ctrl.selectPatient(dt, $index)" >
                                                <a  class=""  role="option" ng-model="_ctrl.patient" >
                                                  <span class="text">{{dt.patient}}</span>
                                                </a>
                                              </li>
                                            </ul>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <label class="col-sm-2 label-on-right"></label>
                                      <label class="col-sm-2 label-on-right protocol-label">Notes</label>
                                      <div class="col-sm-6">
                                          <div class="form-group form-group-sm label-floating form-orange">
                                              <label class="control-label"></label>
                                              <textarea class="form-control"  required="true"  type="text" rows="4"  placeholder="Notes..." ng-model="_ctrl.selected.note" type="text"></textarea>
                                          <span class="material-input"></span></div>
                                      </div>

                                  </div>
                                  <div class="row">
                                      <label class="col-sm-2 label-on-right"></label>
                                      <label class="col-sm-2 label-on-right"></label>
                                      <div class="col-sm-3">
                                        <button type="submit" class="btn btn-sm btn-danger btn-round"   ng-click="_ctrl.cancelProtocol()">Cancel</button>
                                      </div>
                                      <div class="col-sm-3">
                                        <button type="submit" class="btn btn-rose btn-sm btn-round pull-right" ng-click="_ctrl.saveProtocol()">Save</button>
                                      </div>
                                  </div>
                              </div>
                            </div>

                       </form>

                        <div class="col-md-12"  ng-show="_ctrl.states == 'list'">
                          <div class="card-content table-responsive">
                      
                          </div>
                        </div>
                        <div class="col-md-12" style="height:1px;background:#dedede" ng-show=" _ctrl.sze > 0"></div>
                        <div class="col-md-12" ng-show="_ctrl.states == 'list'">
                            <div class="col-md-12 card-content table-responsive">

                            <table class="table">
                                  <tbody>
                                      <tr ng-repeat="it in _ctrl.protocols | orderBy: 'date' ">
                                          <td>
                                            <div class="col-md-10">
                                              <span class="name-protocol">{{it.name}}</span>
                                              </br>
                                              <span class="fx-protocol">{{it.patient}}</span>
                                              </br>
                                              <span class="f-protocol">{{it.note}}</span>

                                            </div>
                                            <div class="col-md-2 card-content table-responsive">

                                              <small class="pull-right" style="color:primary;font-weight:600">{{it.date | date : 'shortTime' }}</small>  <small class="pull-right">{{it.date | date }}&nbsp;&nbsp;</small></br>
                                              <span class="pull-right"></span>
                                              <button type="button" rel="tooltip" ng-click="_ctrl.selectProtocol(it, $index)"   class="btn btn-info btn-simple btn-sm pull-right" data-original-title="Edit">
                                                  <i class="material-icons">edit</i>
                                              </button>


                                            </div>
                                          </td>
                                      </tr>
                                  </tbody>
                                </table>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                    <p class="copyright pull-right">
                        ©
                        <small>&nbsp;&nbsp;{{_ctrl.year}}</small>
                    </p>

            </div>
        </footer>
    </div>
</div>
